body {
  background-color: #000000;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  color: #00ffff;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
  line-height: 1.6rem;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
hr {
  height: 1px;
  border-width: 0;
  background-color: #000000;
  border: none;
}
.main-container {
  width: 80%;
  min-width: 640px;
  height: 100vh;
  margin: auto;
}
.top-block {
  width: 100%;
  height: 5vh;
}
.main-block {
  background-color: #004164;
  width: 100%;
  height: 80vh;
  min-height: 400px;
  display: flex;
}
.left-panel,
.right-panel {
  flex-basis: 50%;
  border-color: #00ffff;
  border-width: 5px;
  border-style: double;
  margin: 15px;
}
.left-panel {
  margin-right: 5px;
}
.right-panel {
  margin-left: 5px;
}
.left-top,
.right-top {
  width: 100%;
  height: 0;
}
.top-path-label {
  width: max-content;
  padding: 5px 12px;
  position: relative;
  top: -20px;
  margin-left: auto;
  margin-right: auto;
}
.top-label-left {
  background-color: #008080;
  color: #000000;
}
.top-label-right {
  background-color: #004164;
}
.left-middle,
.right-middle {
  height: 90%;
}
.left-middle {
  display: flex;
}
.right-content {
  padding: 65px 10px 0 10px;
  line-height: 1.2rem;
  text-align: left;
}
.top-yellow-label {
  color: #ffff00;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.active {
  background-color: #008080;
  color: #000000;
}
.left-bottom,
.right-bottom {
  height: 10%;
  min-height: 40px;
  width: 100%;
  display: flex;
}
.right-bottom-content,
.left-bottom-content {
  margin: auto 20px auto 20px;
}
.file-name {
  flex: 2;
}
.file-size {
  flex: 1;
}
.file-date {
  flex: 1;
}
.right-border-line {
  border-right: 2px solid #00ffff;
}
.top-border-line {
  border-top: 2px solid #00ffff;
}
.footer-block {
  width: 100%;
  height: 15vh;
  min-height: 60px;
  display: flex;
  flex-direction: column;
}
.footer-console,
.footer-menu,
.footer-outer {
  flex: 1;
}
.footer-console {
  color: #c0c0c0;
  margin-top: auto;
  margin-bottom: auto;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}
.bottom-menu-btn {
  background-color: #008080;
  color: #000000;
  justify-content: center;
  padding: 5px;
  display: flex;
  flex: 1;
  cursor: pointer;
}
.bottom-menu-btn:hover {
  background-color: #c0c0c0;
}

/* Blank page to disable all elements */
#blank-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Popup windows */
#help-page-container {
  box-shadow: 20px 20px rgba(0, 0, 0, 0.8);
  width: 60%;
  min-width: 640px;
  min-height: 300px;
  height: 60%;
  margin: auto;
  background-color: #c0c0c0;
  display: flex;
}
#help-page-content {
  width: 100%;
  border: #000000;
  border-width: 5px;
  border-style: double;
  margin: 15px;
  text-align: center;
  color: #000000;
  /* display: flex; */
}
.pop-logo {
  background-color: #c0c0c0;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  padding: 5px 12px;
  top: -40px;
  position: relative;
}
#close-help-page-btn:hover {
  background-color: #008080;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  body {
    font-size: 0.9rem;
  }
}
